@function vw($px) {
    @return ($px / 375) * 100vw;
}

.box1{
    background-color: #F6F6F6;
    font-size: vw(10);
    font-family: PingFangSC-Light, sans-serif;
    
    p{
        margin-bottom: 0!important;
    }

    .slick-dots-bottom{
        position: absolute!important;
        bottom: vw(10)!important;
        height: vw(8)!important;

        li{
            width: vw(8)!important;
            height: vw(8)!important;
            // display: inline-block!important;
            border-radius: 100%!important;
            background: #000!important;
            opacity: 0.2!important;
            margin: 0 vw(4)!important;
            button{
                width: vw(0)!important;
                height: vw(0)!important;
            }
        }
        .slick-active{
            background: #fff!important;
            opacity: 1!important;
        }
    }

}
.banner{
    height: vw(225);
    img{
        width: 100%;
        height: 100%;
    }
}

.nav-container{
    background: #fff;
    padding: vw(15) 0 vw(30) 0;
    .flex-wrap{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: vw(59);
        a{
            text-align: center;
            height: 100%;
            color: #2d2d2d;
            .iconfont{
                display: block;
                height: 100%;
            }
            .font-sm{
                font-size: vw(12);
                margin-top: vw(10);
            }
            .icon-gonglve{
                color: #FCBC00 !important;
                font-size: vw(40);
                height: vw(43);
                ::before{
                    content: "\e676";
                    padding-bottom: vw(10);
                }
            }
            .icon-dujia{
                color: #51A5DC;
                font-size: vw(40);
                height: vw(43);
                ::before{
                    content: "\e675";
                }
            }
            .icon-huwai{
                color: #F15A62;
                font-size: vw(40);
                height: vw(43);
                ::before{
                    content: "\e677";
                }
            }
            .icon-meiwu{
                color: #A5CE00;
                font-size: vw(40);
                height: vw(43);
                ::before{
                    content: "\e678";
                }
            }
            .icon-yanjiusuo{
                color: #00AC59;
                font-size: vw(43);
                height: vw(43);
                ::before{
                    content: "\e674";
                }
            }
        }
    }
}
.main{
    // background: #fff;
   
    .list-container {
        background: #fff;
        margin-top: vw(11);
        overflow: hidden;
        .sub-title-wraps{
            padding: vw(11);
            display: flex;
            align-items: center;

            .line{
                border: vw(1) solid #F6F6F6;
                margin: 0 vw(5);
                flex: 1;
            }

            .font-md{
                font-size: vw(12) !important;
                // flex: 1;
            }
            .more-btn{
                color: #1ABC9C;
                font-size: vw(12) !important;
                // flex: 1;
            }
        }
        .get-more {
            color: #1ABC9C;
            display: block;
            padding: vw(20) 0;
            font-size: vw(14) !important;
            text-align: center;
        }
        .title{
            padding: vw(20) vw(11);
            .header-line{
                vertical-align: middle;
                border-left: vw(3) solid #1ABC9C;
            }
            .header-title{
                vertical-align: middle;
                padding: 0 vw(10);
                font-size: vw(18) !important;
                color: #2d2d2d !important;
            }
            .sub-title{
                color: #999;
                font-size: vw(10);
            }
        }
        .flex-wrap{
            line-height: vw(18);
            width: 32%;
            color: #2d2d2d;
            float: left;
            text-align: center;
            img{
                display: block;
                width: 100%;
                height: vw(113);
            }
            .product-title {
                padding: vw(3);
                margin-top: vw(10);
                text-overflow: ellipsis;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        .flex-wrap+.flex-wrap {
            margin-left: 2%;
        }
       
    }
    .list{
        padding: vw(0) vw(11);
        overflow: hidden;
    }
    .font-lg {
        font-size: vw(16) !important;
        
    }

    .list-clearfix {
        border: 1px solid #F2F2F2;
        padding: vw(8) vw(11);
        overflow: hidden;

        .city-item:nth-child(2n) {
            margin-left: 2%;
        }

        .city-item {
            padding: vw(10) 0;
            width: 49%;
            float: left;
            text-align: center;

            .thumb-wrap {
                position: relative;
                background: #000;
                overflow: hidden;
                width: 100%;
                margin-bottom: vw(5);

                .city-cover {
                    width: 100%;
                    height: vw(91);
                    opacity: .7;
                    display: block;
                }

                .layer {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    left: 50%;
                    top: 50%;
                    color: #fff;
                }
            }

            .font-sm {
                font-size: vw(12) !important;
            }
        }
    }

    .selected-container{
        background: #fff;
        margin-top: vw(11);

        .title{
            padding: vw(20) vw(11);
            .header-line{
                vertical-align: middle;
                border-left: vw(3) solid #1ABC9C;
            }
            .header-title{
                vertical-align: middle;
                padding: 0 vw(10);
                font-size: vw(18) !important;
                color: #2d2d2d !important;
            }
            .sub-title{
                color: #999;
                font-size: vw(10);
            }
        }

       .list{
           
            .flex-wrap {
                align-items: center;

                .line{
                    border: vw(1) solid #F6F6F6;
                    margin: 0 vw(5);
                    flex: 1;
                }

                .font-md{
                    font-size: vw(12) !important;
                    // flex: 1;
                }
                .more-btn{
                    color: #1ABC9C;
                    font-size: vw(12) !important;
                    // flex: 1;
                }
            }
            .sub-title-wrap{
                padding: vw(11);
                padding-left: 0;
                padding-right: 0;
                display: flex;

                .line{
                    border: vw(1) solid #F6F6F6;
                    margin: 0 vw(5);
                    flex: 1;
                }
    
                .font-md{
                    font-size: vw(12) !important;
                    // flex: 1;
                }
                .more-btn{
                    color: #1ABC9C;
                    font-size: vw(12) !important;
                    // flex: 1;
                }
        
            }
            .selected-item{
                display: block;
                padding: vw(20) 0 vw(25);
                color: #2d2d2d !important;
                .selected-title{
                    margin-bottom: vw(15) !important;
                    font-size: vw(16) !important;
                }
                .flex-wrap{
                    display: flex;
                    align-items: center;
                    img{
                        width: vw(136);
                        height: vw(90.65)
                    }
                    .selected{
                        width: 12vw(10);
                        margin-left: vw(15);
                        line-height: vw(18);
                        .font-sm{
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                        }
                        .product-tag{
                            margin-top: vw(8);
                            color: #999;
                            white-space: pre-line;
                        }
                    }
                }
            }
            .bota{
                margin-bottom: vw(50);
            }
            .selected-item+.selected-item{
                border-top: vw(1) solid #F2F2F2;
                
            }
        }
       .get-more {
            color: #1ABC9C;
            display: block;
            padding: vw(20) 0;
            font-size: vw(14);
            text-align: center;
            border-top: 1px solid #F2F2F2;
            margin-bottom: vw(50);
        }
    }
}
