.box1 {
  background-color: #F6F6F6;
  font-size: 2.66667vw;
  font-family: PingFangSC-Light, sans-serif;
}

.box1 p {
  margin-bottom: 0 !important;
}

.banner {
  height: 60vw;
}

.banner img {
  width: 100%;
  height: 100%;
}

.nav-container {
  background: #fff;
  padding: 4vw 0 8vw 0;
}

.nav-container .flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15.73333vw;
}

.nav-container .flex-wrap a {
  text-align: center;
  height: 100%;
  color: #2d2d2d;
}

.nav-container .flex-wrap a .iconfont {
  display: block;
  height: 100%;
}

.nav-container .flex-wrap a .font-sm {
  font-size: 3.2vw;
  margin-top: 2.66667vw;
}

.nav-container .flex-wrap a .icon-gonglve {
  color: #FCBC00 !important;
  font-size: 10.66667vw;
  height: 11.46667vw;
}

.nav-container .flex-wrap a .icon-gonglve ::before {
  content: "\e676";
  padding-bottom: 2.66667vw;
}

.nav-container .flex-wrap a .icon-dujia {
  color: #51A5DC;
  font-size: 10.66667vw;
  height: 11.46667vw;
}

.nav-container .flex-wrap a .icon-dujia ::before {
  content: "\e675";
}

.nav-container .flex-wrap a .icon-huwai {
  color: #F15A62;
  font-size: 10.66667vw;
  height: 11.46667vw;
}

.nav-container .flex-wrap a .icon-huwai ::before {
  content: "\e677";
}

.nav-container .flex-wrap a .icon-meiwu {
  color: #A5CE00;
  font-size: 10.66667vw;
  height: 11.46667vw;
}

.nav-container .flex-wrap a .icon-meiwu ::before {
  content: "\e678";
}

.nav-container .flex-wrap a .icon-yanjiusuo {
  color: #00AC59;
  font-size: 11.46667vw;
  height: 11.46667vw;
}

.nav-container .flex-wrap a .icon-yanjiusuo ::before {
  content: "\e674";
}

.main .list-container {
  background: #fff;
  margin-top: 2.93333vw;
  overflow: hidden;
}

.main .list-container .sub-title-wraps {
  padding: 2.93333vw;
  display: flex;
  align-items: center;
}

.main .list-container .sub-title-wraps .line {
  border: 0.26667vw solid #F6F6F6;
  margin: 0 1.33333vw;
  flex: 1;
}

.main .list-container .sub-title-wraps .font-md {
  font-size: 3.2vw !important;
}

.main .list-container .sub-title-wraps .more-btn {
  color: #1ABC9C;
  font-size: 3.2vw !important;
}

.main .list-container .get-more {
  color: #1ABC9C;
  display: block;
  padding: 5.33333vw 0;
  font-size: 3.73333vw !important;
  text-align: center;
}

.main .list-container .title {
  padding: 5.33333vw 2.93333vw;
}

.main .list-container .title .header-line {
  vertical-align: middle;
  border-left: 0.8vw solid #1ABC9C;
}

.main .list-container .title .header-title {
  vertical-align: middle;
  padding: 0 2.66667vw;
  font-size: 4.8vw !important;
  color: #2d2d2d !important;
}

.main .list-container .title .sub-title {
  color: #999;
  font-size: 2.66667vw;
}

.main .list-container .flex-wrap {
  line-height: 4.8vw;
  width: 32%;
  color: #2d2d2d;
  float: left;
  text-align: center;
}

.main .list-container .flex-wrap img {
  display: block;
  width: 100%;
  height: 30.13333vw;
}

.main .list-container .flex-wrap .product-title {
  padding: 0.8vw;
  margin-top: 2.66667vw;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.main .list-container .flex-wrap + .flex-wrap {
  margin-left: 2%;
}

.main .list {
  padding: 0vw 2.93333vw;
  overflow: hidden;
}

.main .font-lg {
  font-size: 4.26667vw !important;
}

.main .list-clearfix {
  border: 1px solid #F2F2F2;
  padding: 2.13333vw 2.93333vw;
  overflow: hidden;
}

.main .list-clearfix .city-item:nth-child(2n) {
  margin-left: 2%;
}

.main .list-clearfix .city-item {
  padding: 2.66667vw 0;
  width: 49%;
  float: left;
  text-align: center;
}

.main .list-clearfix .city-item .thumb-wrap {
  position: relative;
  background: #000;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1.33333vw;
}

.main .list-clearfix .city-item .thumb-wrap .city-cover {
  width: 100%;
  height: 24.26667vw;
  opacity: .7;
  display: block;
}

.main .list-clearfix .city-item .thumb-wrap .layer {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: #fff;
}

.main .list-clearfix .city-item .font-sm {
  font-size: 3.2vw !important;
}

.main .selected-container {
  background: #fff;
  margin-top: 2.93333vw;
}

.main .selected-container .title {
  padding: 5.33333vw 2.93333vw;
}

.main .selected-container .title .header-line {
  vertical-align: middle;
  border-left: 0.8vw solid #1ABC9C;
}

.main .selected-container .title .header-title {
  vertical-align: middle;
  padding: 0 2.66667vw;
  font-size: 4.8vw !important;
  color: #2d2d2d !important;
}

.main .selected-container .title .sub-title {
  color: #999;
  font-size: 2.66667vw;
}

.main .selected-container .list .flex-wrap {
  align-items: center;
}

.main .selected-container .list .flex-wrap .line {
  border: 0.26667vw solid #F6F6F6;
  margin: 0 1.33333vw;
  flex: 1;
}

.main .selected-container .list .flex-wrap .font-md {
  font-size: 3.2vw !important;
}

.main .selected-container .list .flex-wrap .more-btn {
  color: #1ABC9C;
  font-size: 3.2vw !important;
}

.main .selected-container .list .sub-title-wrap {
  padding: 2.93333vw;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.main .selected-container .list .sub-title-wrap .line {
  border: 0.26667vw solid #F6F6F6;
  margin: 0 1.33333vw;
  flex: 1;
}

.main .selected-container .list .sub-title-wrap .font-md {
  font-size: 3.2vw !important;
}

.main .selected-container .list .sub-title-wrap .more-btn {
  color: #1ABC9C;
  font-size: 3.2vw !important;
}

.main .selected-container .list .selected-item {
  display: block;
  padding: 5.33333vw 0 6.66667vw;
  color: #2d2d2d !important;
}

.main .selected-container .list .selected-item .selected-title {
  margin-bottom: 4vw !important;
  font-size: 4.26667vw !important;
}

.main .selected-container .list .selected-item .flex-wrap {
  display: flex;
  align-items: center;
}

.main .selected-container .list .selected-item .flex-wrap img {
  width: 36.26667vw;
  height: 24.17333vw;
}

.main .selected-container .list .selected-item .flex-wrap .selected {
  width: 12vw 10;
  margin-left: 4vw;
  line-height: 4.8vw;
}

.main .selected-container .list .selected-item .flex-wrap .selected .font-sm {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.main .selected-container .list .selected-item .flex-wrap .selected .product-tag {
  margin-top: 2.13333vw;
  color: #999;
  white-space: pre-line;
}

.main .selected-container .list .bota {
  margin-bottom: 13.33333vw;
}

.main .selected-container .list .selected-item + .selected-item {
  border-top: 0.26667vw solid #F2F2F2;
}

.main .selected-container .get-more {
  color: #1ABC9C;
  display: block;
  padding: 2rem 0;
}
