html,body{
    height: 100%;
    width: 100%;
}
@function vw($px) {
    @return ($px / 375) * 100vw;
}

.top-search{
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    // display: block;
    height: vw(57);
    padding: vw(10);
    background: #F6F6F6;
    position: relative;
    .box{
        transition: all 500ms cubic-bezier(0.08, 0.5, 0.5, 1);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: vw(4532);
        z-index: 99;
        background-color: #F6F6F6;
        .content{
            position: fixed;
            width: 100%;
        }
        .top{
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            // width: 100%;
            // display: block;
            height: vw(62.6);
            padding: vw(11);
            // background: #F6F6F6;
            position: relative;
            .table-cell:nth-child(1){
                width: 12%;
                color: #ccc;
                font-size: vw(32);
                ::before{
                    content: '\e627';
                }
            }
            .right{
                a{
                   
                    background: #1abc9c;
                    color: #fff;
                    padding: vw(5) vw(8);
                    border-radius: vw(6);
                    font-size: vw(12);
                }
            }
            .sea2{
                text-indent:vw(14.8);
                background-color: #F6F6F6;
                width: 72%;
                height: vw(32.4);
                border-radius: vw(15);
                border: vw(1) solid #E8E8E8;
                font-size: vw(12);
                margin-right: vw(10);
                    // text-align: center;
            }
        }
        .history{
            margin-top: vw(10);
            background: #fff;
            padding: vw(20) vw(10);
            text-align: center;
            header{
                padding: 0;
                color: #2D2D2D;
                line-height: 1.8;
                font-size: vw(16);
            }
        }
        .hot-search{
            margin-top: vw(10);
            background: #fff;
            padding: vw(20) vw(10);
            text-align: center;
            header{
                padding: 0;
                color: #2D2D2D;
                line-height: vw(18);
                font-size: vw(16);
            }
            
        }
        .del-search-btn{
            float: right;
            .icon-lajitong{
                font-size: vw(25);
                color: #999;
                ::before{
                    content: "\e62e";
                }
            }
        }
        .tag-container{
            width: 85%;
            margin: vw(10) auto 0;
            .tag-item{
                font-size: vw(10);
                margin-top: vw(10);
                display: inline-block;
                border: vw(1) solid #ccc;
                padding: vw(4) vw(12);
                border-radius: vw(20);
                margin-right: vw(5.92);
                color: #666;
            }
        }
    }
    .sea1{
        width: 98%;
        height: vw(38.6);
        border-radius: vw(10);
        border: vw(1) solid #E8E8E8;
        font-size: vw(12);
        text-align: center;
    }
   
}
